In [15]:
import psycopg2

In [16]:
conn = psycopg2.connect("dbname='prod' user='admin' host='13.124.7.179' password='Kookmin1' port='5439'")
conn.autocommit = True

In [17]:
cur = conn.cursor()

In [18]:
sql = "SELECT * FROM student s JOIN zipcode z ON s.zipcode_id = z.id;"
cur.execute(sql)

In [19]:
rows = cur.fetchall()
for row in rows:
    print(row)

('keeyong', 'han', 1000, 1000, 'california', 'san jose')
('misook', 'kim', 1000, 1000, 'california', 'san jose')
('claire', 'han', 1001, 1001, 'california', 'santa clara')
('chanwoo', 'park', 1001, 1001, 'california', 'santa clara')
('benjamin', 'han', 1001, 1001, 'california', 'santa clara')
('chanhee', 'park', 1001, 1001, 'california', 'santa clara')
('claire', 'hough', 1002, 1002, 'california', 'palo alto')
('james', 'hou', 1002, 1002, 'california', 'palo alto')

In [20]:
sql = "SELECT * FROM student s LEFT OUTER JOIN zipcode z ON s.zipcode_id = z.id;"
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    print(row)

('keeyong', 'han', 1000, 1000, 'california', 'san jose')
('misook', 'kim', 1000, 1000, 'california', 'san jose')
('claire', 'han', 1001, 1001, 'california', 'santa clara')
('chanwoo', 'park', 1001, 1001, 'california', 'santa clara')
('benjamin', 'han', 1001, 1001, 'california', 'santa clara')
('chanhee', 'park', 1001, 1001, 'california', 'santa clara')
('claire', 'hough', 1002, 1002, 'california', 'palo alto')
('james', 'hou', 1002, 1002, 'california', 'palo alto')
('steve', 'jung', 1003, None, None, None)

In [21]:
cur.close()
conn.close()